.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.gu-mirror {
  visibility: visible;
}

svg { pointer-events: none; }

.uk-placeholder {
  border-color: #999;
}

.uk-table th {
  text-align: center;
}

.uk-notification {
  visibility: hidden;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.drag-handle {
  vertical-align:middle;
}

.entry option {
  background: white;
  color: black;
}

.entry option[selectedIndex="1"] {
  background: #007fff;
  color: white;
}

.dropdown-action-selected, .dropdown-action-selected:focus {
  background: #007fff;
  color: white;
}

.large-checkbox {
  background-size: contain;
  height: 35px;
  margin: 0 5px;
  width: 35px;
}

.settings-container {
  padding: 15px 50px;
}

.form-border-header {
  background: white;
  display: inline;
  left: 10px;
  padding: 0 5px;
  position: relative;
  top: 22px;
}

.settings-tab-container {
  border: 1px solid #666;
  padding: 20px 10px;
}

.settings-tab {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
}

.settings-row {
  display: flex;
  justify-content: space-between;
}

.settings-row :first-child {
  flex-basis: 100px;
  flex-grow: 7;
  margin-right: 20px;
}

.settings-row :last-child {
  flex-basis: 100px;
  flex-grow: 1;
  margin-left: 10px;
}

.skip-frame-input {
  transition: width 1s, padding 1s;
}

.cb-dialogue-skipping:not(:checked) ~ .skip-frame-container > .skip-frame-input {
  padding: 0;
  width: 0;
}

.notification-container {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 80px;
  visibility: visible;
}

.notification-htag {
  color: inherit;
}

.notification-large {
  bottom: 0;
  -top: 0;
}
