.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.gu-mirror {
  visibility: visible;
}

.uk-placeholder {
  border-color: #999;
}

.uk-table th {
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.entry option {
  background: white;
  color: black;
}

.dropdownActionSelected {
  background: #007fff;
  color: white;
}

#cb_dialogue_skipping {/* SWITCH TO A GENERAL CHECKBOX CLASS */
  margin: 0 5px;
  zoom: 2;
}

.settings_container {
  padding: 15px 50px;
}

.form-border-header {
  position: relative;
  top: 22px;
  left: 10px;
  background: white;
  padding: 0 5px;
  display: inline;
}

.settings_tab_container {
  border: 1px solid #666;
  padding: 20px 10px;
}

.settings_tab {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
}

.settings_row {
  display: flex;
  justify-content: space-between;
}

.settings_row :first-child {
  flex-basis: 100px;
  flex-grow: 7;
  margin-right: 20px;
}

.settings_row :last-child {
  flex-basis: 100px;
  flex-grow: 1;
  margin-left: 10px;
}

#skip_frame1 {
  transition: width 1s, padding 1s;
}

.test {
  width: 0;
  padding: 0;
}
